<div class="navbar">
    <div class="navbar-logo">
        <a href="#home">Your Logo</a>
    </div>
    <div class="navbar-items">
        <a href="/api/createPage">Add Blog</a>
    </div>
    <div class="navbar-search">
        <input type="text" placeholder="Search...">
    </div>
</div>
